
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');



footer {
    height: 25vh;
    width: 100%;
    background-color: rgb(18, 16, 16);
    color: aliceblue;
    margin: 1px auto;
    display: flex;
    
   
}


footer span {
    font-size: medium;
    left: 20px;
    position: relative;
    width: 25vw;
    height: 20vh;
    align-self: center;
    color: rgb(40, 80, 126);

}

footer li {
    list-style: none;
    font-size: smaller;
    
}

footer a:link {
    color: beige;
    text-decoration: none;
}

footer a:hover {
    color: rgb(62, 64, 46);
}
